<h1>Should I take an umbrella?</h1>
<form action="/process_umbrella" method="post">
   <label for="location_name">Where are you located</label>
  <input id="location_name" type="text" name="user_location">
	
  
  <button>Submit</button>

</form>
